$orange: #ff6600;
$orangeBright: #ff9208;
$redIsh: #f5515e;
$lightOrange: #fff0e6;
$white: #fff;
$veryLightGrey: #ebebeb;
$lightGrey: #aaaaaa;
$darkGrey: #727272;
$black: #333;
$tagPaddings: 0.2rem 0.8rem;

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkmark-icon {
  width: 1rem;
}
.star-icon,
.clock-icon,
.info-icon {
  width: 1.2rem;
}
.shield-icon,
.arrow-right-icon {
  width: 1rem;
}
.mastercard-icon,
.apple-pay-icon,
.visa-icon {
  width: 2.2rem;
  height: 1.6rem;
}
.shield-icon {
  display: inline;
}
hr {
  border: none;
  border-top: 1px solid $veryLightGrey;
}
