$orange: #ff6600;
$redIsh: #f5515e;
$lightOrange: #fff0e6;
$white: #fff;
$lightGrey: #d6d6d6;
$darkGrey: #868686;
$black: #333;

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-icon,
.checkmark-icon {
  width: 10px;
}
